body{
    background-image: url(bck.jpg.jpg);
    background-size: cover;
}
h1{
    font-family: helvetica;
    font-size: 50px;
    text-align: center;
}
li {
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
    position: relative;
    color: rgb(58, 20, 20);
    font-size: 70px;
}
a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: #c40b0b;
    transition: 0.25s;
}
a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}